<!DOCTYPE html>

{% load humanize %}
{% load static %}

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}VITEC PO Manager{% endblock %}</title>
    {% block stylesheets %}
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"type="text/css" />
      <link rel="stylesheet" href="{% static 'css/sort-style.css' %}"type="text/css" />
      <link rel="stylesheet" href="{% static 'css/datepicker.css' %}"type="text/css" />
      <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
